# Folders

# Zip files
**/*.zip

# Temporary files
**/*.swp

# Tex files
**/*~
**/*.o
**/*.class
**/*.dvi
**/*.aux
**/*.log
**/*.nav
**/*.snm
**/*.toc
**/*.out
**/*.pd
**/*.vrb

# Images source
**/*.xcf

